# ----------------------------
# Backend / API
# ----------------------------
API_PORT=3000
API_URL=http://localhost:3000 

# ----------------------------
# Frontend / Web (Vite)
# ----------------------------
VITE_API_URL=http://localhost:3000 

# ----------------------------
# Shared
# ----------------------------